
html, body{
    height: 100%;
    overflow-x: hidden;/* para não rolar para os lados */
}

body{
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

header{
    margin-bottom: 80px;    
}

nav.navbar-color{
    padding: 38px 0px;
    background: #f04d55;
}

#nav-principal .nav-link{
    color: #fff;
    font-size: 1.2em;
    margin-bottom: auto;
}

#nav-principal .nav-link:hover{
    color: #fff6;
}

/* Footer
*********************************************/

footer{
    margin-top: 85px;
    padding: 35px;
    background: #000f;
}

footer img {
    display: block;
    width: 221px;
    margin: auto;
}

footer h5{
    font-weight: bolder;
    margin-top: 25px;
}

footer h5, p, a {
    display: block;
    color: #e5e5e5;
    margin-left: 6px;
    margin-right: 6px;
}

footer a{
    margin-top: 0.3em;
}

footer a:hover{
    color: #e5e5e5e5;
}

footer span h5 {
    text-transform: uppercase;
    color: #ffffff80;
    font-size: 18px;
}

.caixa-footer{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: #fff;
}

.caixa-footer a{
    display: inline-block;
    font-size: 20px;
}

.caixa-footer a:hover{
    color: #e5e5e5a6;
}


.apps {
    border: 1px solid #e5e5e5a6;
    border-radius: 18px;
    padding:  12px;
    display: inline-block;
    text-align: center;
}

.apps a{
    margin-left: 15px;
    margin-right: -9px;
    display: inline-block;
}

.divisor-footer{
    border-bottom: 1px solid #8d8d8da6;
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 25px;
    margin-bottom: 15px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .logo{
        width: 162px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h1{
        font-size: 3em;
    }
    .logo{
        width: 182px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    h1{
        font-size: 2em;
    }
    .logo{
        width: 212px;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1{
        font-size: 2.5em;
    }
    .logo{
        width: 242px;
    }
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1{
        font-size: 3em;
    }
    .logo{
        width: 262px;
    }
}