.card-login {
    padding: 30px 0 0 0;
    width: 350px;
    margin: 0 auto;
}

.card-abrir-chamado {
    padding: 30px 0 0 0;
    width: 100%;
    margin: 0 auto;
}

.card-consultar-chamado {
    padding: 30px 0 0 0;
    width: 100%;
    margin: 0 auto;
}

.card-home {
    padding: 30px 0 0 0;
    width: 100%;
    margin: 0 auto;
}