*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #fffafa;
}

header{
  height: 80px;
  border-bottom: 1px solid #8b0000;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  box-sizing: border-box;
}

#logo{
  background: url(../img/AMK-logo.jpg) no-repeat;
  display: flex;
  height: 36px;
  width: 190px;
  cursor: pointer;
}

#menu{
  display: flex;
  list-style: none;
  gap: 1.8rem;

}

#menu li{
  margin-top: 15px;
}

a{
  color: #000;
  font-size: 1em;
  display: flex;
  position: relative;
}

a:hover{
  text-decoration: none;
  color: #000;
}

#menu a::after{
  content: " ";
  width: 0;
  height: 2px;
  bottom: 0;
  position: absolute;
  background: #8b0000;
  transition: .3s ease-in-out;
}

#menu a:hover::after{
  width: 70%;
}

#btn-mobile{
  padding: .5rem 1rem;
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}


#hamburger{
  color: #8b0000;
  border-top: 2px solid #8b0000;
  width: 20px;
}

#hamburger::before, 
#hamburger::after {
  position: relative;
  content: " ";
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: .3s ease-in-out;
}

nav.active #hamburger{
  border-top-color: transparent;
}

nav.active #hamburger::before{
  transform: rotate(135deg);
  top: 1px;
}

nav.active #hamburger::after{
  transform: rotate(-135deg);
  top: -6px;
}

@media (max-width: 500px) {
  #logo{
    width: 85px;
  }
}

@media (max-width: 979.98px) {

  #btn-mobile{
    display: flex;
  }
  
  #menu{
    display: block;
    visibility: hidden;
    position: absolute;
    width: 100%;
    padding-left: 40px;
    top: 70px;
    left: 0px;
    height: 0;
    transition: .5s ease-in-out;
    overflow-y: hidden;
    border-bottom: 1px solid #8b0000;
    z-index: 1000;
    background: #fffafa;
    margin-top: 7px;
  }

  nav.active #menu{
    visibility: visible;
    height: calc(35vh - 70px);
  }

  #menu a:hover::after{
    width: 13%;
  }

  #menu li{
    border-bottom: 1px solid #f0eded;
    height: 25px;
  }

}

#main{
  margin-top: 50px;
}

.s1 {
  background: url(../img/header.jpg);
  background-size: cover;
  color: #fff;
  padding: 4rem 4rem;
  max-width: 100%;
  height: 520px;
  text-align: center;
}

.s1 h2 {
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 65px;
  font-weight: bold;
  display: block;
}

.s1 h4 {
  margin-bottom: 30px;
}

.s1 button {
  padding: 0.8rem 2rem;
  border: none;
  display: flex;
  color: #fff;
  font-weight: bold;
  margin: auto;
  background: #8b0000;
  border: 1px solid #8b0000;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.s1 button:hover {
  background: #b35050;
}

@media (min-width: 250px) and (max-width: 767px) {
  .s1 h2 {
    font-size: 30px;
    margin-top: -15px;
    margin-bottom: 35px;
  }

  .s1 button {
    padding: 10px;
  }
}

.s2 {
  background: url(../img/header2.jpg);
  background-size: cover;
  padding: 1.5rem 5rem;
  text-align: center;
  height: 520px;
}

.s2 h4 {
  margin-top: 8px;
  margin-bottom: 7rem;
  font-weight: bold;
  color: #fff;
  background: #8b0000;
  opacity: 0.7;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

.s2 .Card {
  background: #fff;
  color: #000;
  border-radius: 1rem;
  padding: 1.3rem;
  text-align: start;
  opacity: 0.7;
}

.s2 .Card h3 {
  text-align: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #8b0000;
  padding-bottom: 12px;
  font-weight: bold;
}

.s2 .Card span {
  color: #8b0000;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

.s2 .Card .read {
  background-color: #8b0000;
  border: 1px solid #8b0000;
  border-radius: 4px;
  padding: 4px;
  color: #fff;
  transition: 0.2s;
}

.s2 .Card .read:hover {
  background: #b35050;
}

@media (min-width: 250px) and (max-width: 767px) {
  .s2 h4 {
    margin-bottom: 30px;
    font-size: 15px;
  }

  .s2 h3 {
    font-size: 20px;
  }

  .s2 p {
    font-size: 80%;
  }
}

.c1,
.c2 {
  height: 400px;
  width: 100%;
}

.c1 {
  background: url(../img/cta.jpg) no-repeat;
  opacity: 0.5;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.c2 {
  background: url(../img/contact.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding-top: 140px;
}

@media (max-width: 520px) {
  .c1 {
    height: 255px;
  }
}

#contents{
  margin-top: 20px;
  text-align: center;
}

.content1{
  height: 375px;
  padding: 75px 35px;
}

.content1 span{
  display: block;
}

@media (min-width: 1125px){
  .content1 h2{
    font-size: 2.4rem;
  }
}

.parallax1{
  height: 400px;
  width: 100%;
}

.parallax1{
  background: url(../img/imagem1.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: .5;
}

@media (max-width: 520px){
  .parallax1{
    height: 355px;
  }
}

.services{
  margin-top: 45px;
}

.services h2{
  margin-top: -8px;
  font-weight: bold;
  color: #8b0000;
}

@media (max-width: 720px){
  .services h2{
    font-size: 2.3rem;
  }
}