/* ESTRUTURA DO SITE */
*{
    margin: 0;
    padding: 0%;
}

body {
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    background: #fff url(../images/bg.png);
    margin: 15px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

#container {
    background: #ede9cc url(../images/bg-container.png) top center repeat-y;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}
/* \\ESTRUTURA DO SITE */


/* TOPO */
#topo{
    position: relative;
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}

#area-logo {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/topo-imagem-principal.png) no-repeat;
    width: 100%;
    height: 250px;
    z-index: 1;
}

.logo a {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    background: url(../images/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -9000px;
}

#area-menu {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    z-index: 2;
}

#conteudo-menu{
    margin-left: 89px;
    margin-right: 15px;
    padding-top: 15px;
}

#menu-locais{
    border-bottom: 1px solid#b5ab56;
    border-top: 1px solid#b5ab56;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7em;
    color: #8b8448;
}

#menu-locais .locais{
    float: left;
    line-height: 2.1em;
}

a.reserva {
    text-transform: uppercase;
    background: #a29750;
    color: #fff5b0;
    padding: 5px 10px;
    float: right;
}


/* -BARRA DE NAVEGAÇÃO VERTICAL */
#menu{
    margin-top: 15px;
}

ul#navegacao{
    float: left;
}

ul#navegacao a {
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 5px;
    color: #6e672e;
    line-height: 30px;
}

ul#navegacao a:hover{
    background: #fdf6be;
}

.depoimento{
    width: 226px;
    height: 164px;
}
/* \\-BARRA DE NAVEGAÇÃO VERTICAL */

/* \\TOPO */


/* ÁREA DE CONTEÚDOS */
#area-principal {
    float: left;
    width: 50%;
    background: url(../images/bg-area-principal.png) top left repeat-x;
    padding: 15px 0px;
}

#area-lateral {
    float: right;
    width: 50%;
    background: url(../images/bg-area-lateral.png) top left repeat-x;
    padding: 20px 0px;
}

.conteudo {
    margin: 0 auto;
    width: 90%;
}
/* \\ÁREA DE CONTEÚDOS */


/* RODAPE */
#rodape {
    clear: both;
}
/* \\RODAPE */


