/* 
*********************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden; 
}

html.menu-active{
    overflow: hidden;
}


header{
    background: url(../images/garden1.png) no-repeat;
    background-size: cover;
    background-position:center center;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: .5s;
    overflow-y: hidden;
}

header img{
    margin: auto;
    margin-top: 25%;
    margin-bottom: 40px;
}

header h2 {
    font-size: 2.5em
}

/* NAV
**************************************************/
ul{
    margin-top: 60px;  /*180*/
    display: flex;
    list-style: none;
    gap: 5rem;
    height: 120px;
    align-items: center;
    padding: 1rem;
}

ul a{
    color: #2e3192;
    text-decoration: none;
    font-size: 1.5em;
    position: relative;    
}

ul a:hover{
    text-decoration: none;
    color: #2e3192;
}

/*BORDA EM BAIXO DOS LINKS*/
ul a::after{
    content: ' ';
    width: 0%;   /*tamanho inicial*/
    height: 3px;
    background-color: #2e3192;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

ul a:hover::after{
    width: 55%;    /*tamanho final*/
}

#header{
    height: 300px;
    box-sizing: border-box;
    overflow-y: hidden;
}

/*BOTÃO HAMBURGUER*/
#btn-mobile{
    background: none;
    border: none;
    display: none;
    padding: .5rem 1rem;
    width: auto;
}

#hamburguer{
    border-top: 2px solid;
    width: 20px;
    display: block;
    color: #2e3192;
    overflow-y: hidden;
    transition: 0.8s;
}

#hamburguer::after, #hamburguer::before{
    content: ' ';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

/*MOVIMENTAÇÃO BOTÃO HAMBURGUER*/
header.active #hamburguer{
    border-top: transparent;   
}

header.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -6px;
}

header.active #hamburguer::before{
    transform: rotate(135deg);
    top: 1px;
}

header.active{
    height: 100vh;
}

/*BOTTOM HAMBURGUER*/
@media (min-width: 320px) and (max-width: 979.98px){
    header{
        height: 85vh;
    }
    
    #btn-mobile{
        display: flex;
        padding-right: 35px;
    }

    header ul{
        position: absolute;   /*talvez afete*/
        display: block;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active ul{
        visibility: visible;
    }
}
/*MEDIA HEADER*/
@media (max-width: 575.98px) {
    
    header img{
        width: 360px;
    }

    header h2{
        font-size: 1.5em;
    }
    header .text{
        margin-top: 70px;
        margin-bottom: 110px;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    header img{ 
        width: 360px;
    }

    header h2{
        font-size: 1.6em;
    }

    header .text{
        margin-top: 75px;
        margin-bottom: 95px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    header img{
        width: 395px;
    }

    header h2{
        font-size: 1.7em;
    }

    header .text{
        margin-top: 45px;
        margin-bottom: 65px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px){
    header img{
        width: 450px;

    }

    header h2{
        font-size: 2.3em;
    }

    header .text{
        margin-top: 30px;
    }
    
    header #nav{
        margin-top: 60px;
        font-size: 1.1em;
    }
}


/*
*********************************************************************/
/*NAV FIXED*/
#h-fixed{
    height: 110px;
    display: none;
    margin-bottom: 150px;
    background: linear-gradient(to right, #82A05F,#AFBF36);
    background-size: cover;
    overflow-y: hidden;
    text-align: center;
    transition: 0.6s;
}

#h-fixed.active{
    display: block;
}

#h-fixed img {
    box-sizing: border-box;
    padding-top: 10px;
    width: 100px;
    margin-left: 40px;
}

#h-fixed #menu{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 35px;
    height: 70px;
}

#h-fixed a{
    color: #fff;
}

#h-fixed a::after{
    background-color: #fff;
}

#h-fixed.active-menu, #fixed-nav.active{
    height: 80vh;
}


/*Menu mobile*/
#nav-fixed{
    overflow: hidden;
}

#nav-fixed .menu{
    display: block;
    height: 540px;
    padding-top: 300px;
    text-align: end;
}

#nav-fixed li{
    border-top: 1px solid #B9C373;
    border-bottom: 1px solid #B9C373;
    padding: 10px;
}

#nav-fixed li:hover{
    border-bottom: 1px solid #aeb965;
    border-top: 1px solid #aeb965;
}


/*Botão fixed*/
#fixed-btn{
    padding: .5rem 1rem;
    width: auto;
    margin-top: 45px;
    background: none;
    border: none;
    box-sizing: border-box;
    display: none;
    margin-right: 30px;
}

#fixed-hamburguer{
    border-top: 3px solid;
    width: 20px;
    display: block;
    color: #ffffffb2;
    overflow-y: hidden;
    transition: 0.7s;
}

#fixed-hamburguer::after, #fixed-hamburguer::before{
    content: ' ';
    display: block;
    width: 20px;
    height: 3px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

/*MOVIMENTAÇÃO BOTÃO FIXED-HAMBURGUER*/
#h-fixed.active-menu #fixed-hamburguer{
    border-top: transparent;   
}

#h-fixed.active-menu #fixed-hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
}

#h-fixed.active-menu #fixed-hamburguer::before{
    transform: rotate(135deg);
    top: 1px;
}


@media (min-width: 220px){
    #h-fixed img{
        box-sizing: border-box;
        padding-top: 10px;
        width: 100px;
        margin-left: 40px;
        display: flex;
    }
}

@media (min-width: 320px) and (max-width: 979.98px){
    
    #fixed-nav{
        display: none;
    }

    #fixed-btn{
        display: flex;
    }
}


@media (min-width: 980px){

    #h-fixed #fixed-nav{
        margin-left: 26%;
    }

}

/*
*********************************************************************/
/*SEPARAÇÃO*/

.r-border{
    margin-top: 68px;
    margin-bottom: 5px;
    margin-left: 38%;
    border-top: 1px solid #82A05F;
}

.l-border{
    margin-top: 18px;
    margin-right: 38%;
    border-top: 1px solid #82A05F;
}


/*
*********************************************************************/
/*GALLERY*/
#gallery-area{
    margin-top: 25px;
    padding: 25px;
    height: 100%;
}

#gallery-area h1{
    text-align: center;
    margin-bottom: 25px;
}

.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 30vh;
    overflow: hidden;
}

.h-2{
    grid-row: span 2;
}

.w-2{
    grid-column: span 2;
}

.single-gallery{
    border-radius: 5px;
    margin: 0.5vw;
    overflow: hidden;
}

.single-gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;    /*Imagem responsiva*/
    cursor: pointer;
    transition: transform 0.25s ease-in-out;   
}

.single-gallery img:hover{
    transform: scale(1.1);
    
}

@media (max-width: 575.98px) {
    .gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 30vh;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 15vh;
    } 
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 30vh;
    }
}
@media (min-width: 992px){
    .gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 30vh;
    }
}


[data-animated]{
    opacity: 0;
    transition: .4s;
}

[data-animated='left']{
    transform: translate3d(-65px, 0, 0);
}

[data-animated='right']{
    transform: translate3d(65px, 0, 0);
}

[data-animated='top']{
    transform: translate3d(0, 65px, 0);
}

[data-animated].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}