/* 
*********************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}


header{
    background: url(../images/garden1.png) no-repeat;
    background-size: cover;
    background-position:center center;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: .5s;
    overflow-y: hidden;
}

header img{
    margin: auto;
    margin-top: 25%;
    margin-bottom: 40px;
}

header h2 {
    font-size: 2.5em
}

/* NAV
**************************************************/
ul{
    margin-top: 60px;  /*180*/
    display: flex;
    list-style: none;
    gap: 5rem;
    height: 120px;
    align-items: center;
    padding: 1rem;
}

ul a{
    color: #2e3192;
    text-decoration: none;
    font-size: 1.5em;
    position: relative;    
}

ul a:hover{
    text-decoration: none;
    color: #2e3192;
}

/*BORDA EM BAIXO DOS LINKS*/
ul a::after{
    content: ' ';
    width: 0%;   /*tamanho inicial*/
    height: 3px;
    background-color: #2e3192;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

ul a:hover::after{
    width: 55%;    /*tamanho final*/
}

#header{
    height: 300px;
    box-sizing: border-box;
    overflow-y: hidden;
}

/*BOTÃO HAMBURGUER*/
#btn-mobile{
    background: none;
    border: none;
    display: none;
    padding: .5rem 1rem;
    width: auto;
}

#hamburguer{
    border-top: 3px solid;
    width: 20px;
    display: block;
    color: #2e3192;
    overflow-y: hidden;
}

#hamburguer::after, #hamburguer::before{
    content: ' ';
    display: block;
    width: 20px;
    height: 3px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

/*MOVIMENTAÇÃO BOTÃO HAMBURGUER*/
header.active #hamburguer{
    border-top: transparent;   
}

header.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
}

header.active #hamburguer::before{
    transform: rotate(135deg);
    top: 1px;
}



header.active{
    height: 70vh;
}

/*BOTTOM HAMBURGUER*/
@media (min-width: 320px) and (max-width: 979.98px){
    header{
        height: 50vh;
    }
    
    #btn-mobile{
        display: flex;
        padding-right: 35px;
    }

    header ul{
        position: absolute;   /*talvez afete*/
        display: block;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active ul{
        visibility: visible;
    }
}
/*MEDIA HEADER*/
@media (max-width: 575.98px) {
    
    header img{
        width: 300px;
        margin-top: 60px;
    }

    header h2{
        font-size: 1.5em;
    }
    header .text{
        margin-top: 10px;
        margin-bottom: 25px;
    }

}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    header img{ 
        width: 340px;
        margin-top: 90px;
    }

    header h2{
        font-size: 1.6em;
    }

    header .text{
        margin-top: 10px;
        margin-bottom: px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    header img{
        width: 360px;
        margin-top: 80px;
    }

    header h2{
        font-size: 1.7em;
    }

    header .text{
        margin-top: 10px;
        margin-bottom: 10px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px){
    header img{
        width: 520px;

    }

    header h2{
        font-size: 2.3em;
    }

    header .text{
        margin-top: 30px;
    }
    
    header #nav{
        margin-top: 60px;
        font-size: 1.1em;
    }
}

/*
*********************************************************************/


#h-fixed{
    height: 110px;
    visibility: hidden;
    margin-bottom: 150px;
    background: url(../images/garden2.jpg) no-repeat;
    opacity: 90%;
    background-position-y: -421px;
    border: 1px solid red;
    background-size: cover;
    overflow-y: hidden;
}

#h-fixed img {
    width: 100px;
    padding-top: 5px;
}

#h-fixed #menu{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 35px;
    height: 70px;
}


#h-fixed.active{
    visibility: visible;
}




