* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Tebuchet MS", Helvetica, sans-serif;
    background: #fff url(../images/fundo.png) repeat-x;
}

/* TOPO */
#container {
    width: 750px;
    margin: 0 auto;

}

#topo{
    height: 150px;
    background: url(../images/detalhe-topo.png) no-repeat right top;
    padding-top: 25px; 
}

.logo{
    width: 152px;
    height: 66px;
    background: url(../images/logo.png) no-repeat center;
    text-indent: -3000px;
}
/* \\TOPO */


/* BARRA DE NAVEGAÇÃO */
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a:link, a:visited{
    color: #b10333;
    padding: 2px;
}

a:hover{
    color: #e50040;
}

#topo ul{
    margin-top: 30px;
    background: #b10333; 
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1em;
    line-height:2.1em;
    text-decoration: none;
    color: #fff;
    background: url(../images/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover{
    color: #69001d
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional, 
body.fotos #navegacao a#fotos {
    color: #fff;
    background: #de003e;
    cursor: text;
}
/* \\BARRA DE NAVEGAÇÃO */


/* Configurar layout de três colunas */
#conteudo {
    margin-top: 60px;
    background: #f5f5f5;
}

#conteudo-lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

/* -Conteudo primario com quantidade de colunas */
#conteudo-primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;;
}

#duas-colunas #conteudo-primario {
    width: 555px;
}

#uma-coluna #conteudo-primario {
    width: 750px;
    margin: 0 0 20px 0;
}
/* \\-Conteudo primario com quantidade de colunas */

#conteudo-secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

/* \\Configurar layout de três colunas */


/* CAIXA */
.caixa{
    margin: 10px 0;
    padding: 5px 0 5px 0;
    background: #f3f3f3 url(../images/fundo-caixa.png);
}

.caixa h2{
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}
/* \\CAIXA */


/* FORMATAR MENUS LATERAIS */
#conteudo-lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
}

#conteudo-lateral ul a:hover{
    color: #a1a1a1;
    background: #f9f9f9 url(../images/marcador.png) no-repeat left center;
    padding-left: 20px;
}
/* \\FORMATAR MENUS LATERAIS */


/* FORMATANDO FOMULÁRIOS */
label {
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    width: 135px;
    font-size: 0.9em;
    background-color: #fff;
}

input.submit{
    width: 80px;
    color: #fff;
    margin-top: 2px;
    margin-left: 69px;
    background-color: #b10333;
    border: 2px solid #870529;
}
/* \\FORMATANDO FOMULÁRIOS */


/* FORMATANDO IMAGENS */
img{
    border: 2px solid #dfdfdf;
}

img.img-principal{
    width: 98%;
    border: 3px solid #dfdfdf;
}
/* \\FORMATANDO IMAGENS */


/* FORMATANDO CABEÇALHOS */

#uma-coluna h3{
    font-size: 1em;
}

h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3{
    background-color: #b10333;
    color: #fff;
}

.entrevista h3{
    background-color: #de003e;
}

/* \\FORMATANDO CABEÇALHOS */


/* LISTA DE NOTÍCIAS */
#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 63px;
}

#lista-noticias li a {
    text-decoration: none;
}

#lista-noticias li a h3{
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
}

#lista-noticias li a p{
    font-size: 0.7em;
    color: #000;
}

#lista-noticias li:hover{
    background: #eee;
    cursor: pointer;
}

#lista-noticias li a img{
    float: left;
    margin: 5px;
    
}
/* \\LISTA DE NOTÍCIAS */


/* RODAPE */
#container-rodape{
    background: #294c71;
    padding: 20px;
}
#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
}
/* \\RODAPÉ */