ul#navegacao{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
    background: #159cb0 url(../images/fundo-horizontal.png) repeat-x;
    float: left;
}

ul#navegacao li {
    float: left;
}

ul#navegacao a {
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: #fff;
    background: url(../images/divisor.png) repeat-y left top;
}

ul#navegacao .primeiro a{
    background: none;
}

ul#navegacao a:hover{
    color: #085662;
    background: #44cade;
}

#Home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a{
    color: #085662;
    background: #44cade;
}