#conteudo{
    background: #dcdcdc;
    height: 600px;
    padding-top: 10px;
    display: flex;

    /* row | row-reverse | column | column-reverse */
    flex-direction: row;

    /* nowrap | wrap | wrap-reverse */
    flex-wrap: nowrap;

    /* flex-start | flex-end | center | space-between | space-around */
    justify-content: space-around;

    /* stretch | center | flex-start | flex-end | baseline*/
    align-items: baseline;
}

.item{
    background: #fff;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid gray;
}