body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
}

ul li {
    float: left;
    background: url(../images/aba-direita.png) no-repeat top right;
}

li a{
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(../images/aba-esquerda.png) no-repeat top left;
    color: #fff;
}

ul a:hover{
    color: #8f4a1f;
}

ul #atual{
    background: url(../images/aba-direita-atual.png) no-repeat top right;
}

ul #atual a{
    background: url(../images/aba-esquerda-atual.png) no-repeat top left;
}